<!DOCTYPE html>

<html lang="pt-BR">
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>Agenda de Negócios</title>
<link href="admstyle.css" rel="stylesheet"/>
</head>
<body>
    <div class="topbar">
        <button class="menu-toggle" onclick="toggleMenu()">☰ Menu</button>
    </div>
    <div class="sidebar" id="sidebar">
        <h2>Agência</h2>
        <ul>
            <li onclick="mostrar('agendaNegocios')">Agenda de negócios</li>
            <li onclick="mostrar('cadastrarUsuario')">Cadastrar Usuário</li>
            <li onclick="mostrar('')">Área do admin</li>
            <li id="botaoToggleTabela" onclick="minTable()">Diminui Tabela</li>

        </ul>
    </div>
    <!--
    <div class="nav-menu" id="navMenu">
<button class="btn" onclick="voltarInicio()">Início</button>
<button class="btn" onclick="voltarCadastro()">Cadastrar Usuário</button>
<button class="btn" onclick="mostrarLogin()">Área do admin</button>
<button class="btn" id="botaoToggleTabela" onclick="minTable()">Diminui Tabela</button>
</div>
-->
<div class="main" id="main">
  <div class="conteudo-wrapper">
    <div id="agendaNegocios" class="conteudo ativo ">
    <h1>AGENDA DE NEGÓCIOS</h1>
    <form id="task-form" class="table">
      <input id="nome" placeholder="Nome" required type="text"/>
      <input id="descricao" placeholder="Descrição" required type="text"/>
      <input id="prioridade" placeholder="Prioridade" required type="number"/>
      <input id="data" required type="date"/>
      <input id="valor" placeholder="Total em R$" required step="0.01" type="number"/>
      <input id="juros" placeholder="Juros R$" required step="0.01" type="number"/>
      <label style="grid-column: span 2;"><input id="realizado" type="checkbox"/> Realizado</label>
      <button style="grid-column: span 2;" type="submit">Adicionar</button>
    </form>

    <section id="form-Table">
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Prioridade</th>
            <th>Data</th>
            <th>Valor (R$)</th>
            <th>Juros (R$)</th>
            <th>Realizado</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody id="task-table-body"></tbody>
      </table>
    </section>

    <div id="mensagem-status" ></div>
   
</div>
</div>
</div>

</div>
 <script src="../backend/adm.js"></script>
</body>
</html>
